body{
    background-color: rgb(197, 197, 197);
}
.table{
    margin-top: 1%;  
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.42857;
    text-rendering: optimizeLegibility;
    height: 100%;
}
.image{
    width: 100px;
    height: 100px;
    overflow:hidden;

}
.search{
    margin-top: 2%;
    margin-left: 35%;
    max-width: 30%;

}
